.full-width {
    width: 100%;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }
  