.intervencion-container {
  display: flex;
  gap: 20px; /* Separación entre columnas */
  height: 100vh;
  padding: 10px; /* Espaciado interno */
}

.chat-container {
  flex: 1.5; /* Reduce el tamaño del chat */
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  overflow: hidden; /* Esconde contenido desbordado */
}

.details-participants-container {
  flex: 1; /* La columna derecha ocupa menos espacio */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Separación entre los bloques arriba y abajo */
}

.details-container {
  flex: 2; /* Haz que los detalles ocupen más espacio */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.participants-container {
  flex: 1; /* Haz que los participantes ocupen menos espacio */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Encabezado del chat */
.chat-header {
  background-color: #37406e; /* Color del encabezado */
  color: white;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em; 
  overflow: hidden; /* Esconde contenido desbordado */
}

.chat-title {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

/* Contenedor de mensajes */
.messages-container {
  flex: 1; /* Ocupa todo el espacio entre el encabezado y el input */
  padding: 10px;
  overflow-y: auto;
  background-color: #f7f7f7;
}
/* Mensajes individuales */
.message-item {
  display: flex;
  margin-bottom: 10px;
}

.sent {
  flex-direction: row-reverse; /* Mensajes enviados alineados a la derecha */
  text-align: right;
}


.received {
  text-align: left; /* Mensajes recibidos alineados a la izquierda */
}

.message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 10px;
}

.message-avatar img {
  width: 100%;
  height: 100%;
}

.message-content {
  max-width: 70%; /* Limita el ancho máximo de los mensajes */
  padding: 10px;
  border-radius: 8px;
  background-color: #e1f5fe; /* Fondo para mensajes recibidos */
  word-wrap: break-word; /* Permite que el texto largo se ajuste */
}

.sent .message-content {
  background-color: #c8e6c9; /* Fondo para mensajes enviados */
}

.message-info {
  font-size: 0.9em;
  color: #555;
  display: flex;
  justify-content: space-between; 
}

.message-text {
  margin: 0;
}
/* Mensajes vacíos */
.no-messages {
  text-align: center;
  color: #999;
  padding: 20px;
}

/* Input para enviar mensajes */
.message-input {
  display: flex;
  align-items: center;
  padding: 10px;

}

.message-input-field {
  flex: 1; /* El input ocupa el espacio disponible */
  padding: 10px;


  margin-right: 1px;
}
.send-button {
  padding: 30px 40px;
  background-color: #1976d2;
  color: white;

  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #155a9a;
}

.participants-container ul {
  list-style-type: none;
  padding: 0;
}

.participant-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.participant-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.participant-info div {
  font-size: 1em;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye el contenido y el botón */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details-footer {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente */
} 
button[color="primary"] {
  background-color:#155a9a;
  color: white;
}

