.modificar-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.8em;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
}

mat-form-field {
  flex: 1;
}

mat-form-field textarea {
  resize: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  width: 48%; /* Ajusta el ancho de los botones */
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
}

button[color="warn"] {
  background-color: #f44336;
  color: #fff;
}
