<div class="ContainerGraficoTabla">
  <h2 class="titleContainerGraficoTabla">
    Analisis de publicaciones por categoría
  </h2>
  <!-- Indicadores del dashboard -->
  <div class="content-GT">
    <!-- Publicaciones por Categoría -->
    <div class="chart-estados">
      <h3>Publicaciones por Categoría</h3>
      <div class="filtros">


        <mat-form-field appearance="fill">
          <mat-label>Seleccionar Año</mat-label>
          <mat-select [(value)]="selectedYearCategory" (selectionChange)="onYearChangeCategory($event.value)">
            <mat-option *ngFor="let year of growthYears" [value]="year">{{ year }}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
            <!-- Imagen de "No Data" cuando no hay publicaciones -->
      <div *ngIf="showNoDataImage" class="no-data-container">
        <img src="assets/images/no-data.png" alt="No data found" class="no-data-image"/>
        <p>{{ noDataMessage }}</p>
      </div>

      <!-- Gráfico de tasa de crecimiento -->
      <canvas #growthRateChart *ngIf="showChart" id="growthRateChart" class="fixed-size-chart"></canvas>


    </div>






</div>
<!-- Contenedor del gráfico de Publicaciones por Mes -->
<div class="ContainerGraficoTabla">
  <h2 class="titleContainerGraficoTabla">
    Resumen de Publicaciones por Mes en el Año
  </h2>
  <div class="content-GT">
    <div class="chart-estados">
      <h3>Publicaciones por Mes</h3>
      <!-- Componente de Publicaciones por Mes Dashboard -->
      <app-publicaciones-mes-dashboard></app-publicaciones-mes-dashboard>
    </div>
  </div>
</div>
