<div class="ContainerGraficoTabla">
  <h2 class="titleContainerGraficoTabla">
    Analisis de publicaciones por categoría
  </h2>
  <!-- Indicadores del dashboard -->
  <div class="content-GT">
    <!-- Publicaciones por Categoría -->
    <div class="chart-estados">
      <h3>Publicaciones por Categoría</h3>
      <div class="filtros">


        <mat-form-field appearance="fill">
          <mat-label>Seleccionar Año</mat-label>
          <mat-select [(value)]="selectedYearCategory" (selectionChange)="onYearChangeCategory($event.value)">
            <mat-option *ngFor="let year of growthYears" [value]="year">{{ year }}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
            <!-- Imagen de "No Data" cuando no hay publicaciones -->
      <div *ngIf="showNoDataImage" class="no-data-container">
        <img src="assets/images/no-data.png" alt="No data found" class="no-data-image"/>
        <p>{{ noDataMessage }}</p>
      </div>

      <!-- Gráfico de tasa de crecimiento -->
      <canvas #growthRateChart *ngIf="showChart" id="growthRateChart" class="fixed-size-chart"></canvas>

      <!-- El gráfico permite al administrador visualizar de forma clara y rápida
      la distribución y cantidad de publicaciones por categorías o meses,
      ayudándolo a identificar áreas de mayor o menor actividad,
      y a tomar decisiones informadas para mejorar
      la asignación de recursos o estrategias en cada categoría o periodo. -->
    </div>


    <!-- Publicaciones por Mes
    <div class="chart-estados">
      <h3>Resumen de Publicaciones por Mes en el Año</h3>
      <div class="filtros">
        <mat-form-field appearance="fill" class="filter">
          <mat-label>Mes</mat-label>
          <mat-select [(value)]="selectedMonth" (selectionChange)="onMonthChange($event)">
            <mat-option *ngFor="let month of months" [value]="month.value">{{ month.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="filter">
          <mat-label>Año</mat-label>
          <mat-select [(value)]="selectedYear" (selectionChange)="onYearChange($event)">
            <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
¿
      <div *ngIf="noPublications" class="no-publications-message">
        <mat-card>
          <mat-card-header>
            <mat-card-title>No hay publicaciones para este mes</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>No se han encontrado publicaciones para el mes de {{ getMonthName(selectedMonth) }} de {{ selectedYear }}.</p>
          </mat-card-content>
        </mat-card>
      </div>
      <canvas *ngIf="!noPublications" id="barChart" class="fixed-size-chart"></canvas>
¿
    </div>
  </div>-->


</div>
