<!-- <mat-sidenav-container class="dashboard-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav">
    <mat-nav-list>

      <h3 class="sidenav-header" *ngIf="opened">Menú Principal</h3>
      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="opened">Dashboard</span>
      </a>

      <a mat-list-item routerLink="/publicaciones">
        <mat-icon>post_add</mat-icon>
        <span *ngIf="opened">Publicaciones</span>
      </a>
      
      <a mat-list-item routerLink="/monitoreo">
        <mat-icon>insights</mat-icon>
        <span *ngIf="opened">Monitoreo</span>
      </a>

      <a mat-list-item routerLink="/reportes">
        <mat-icon>insert_chart</mat-icon>
        <span *ngIf="opened">Reportes</span>
      </a>

      <a mat-list-item routerLink="/usuarios">
        <mat-icon>people</mat-icon>
        <span *ngIf="opened">Gestión de Usuarios</span>
      </a>

      <a mat-list-item routerLink="/facturacion">
        <mat-icon>receipt</mat-icon>
        <span *ngIf="opened">Facturacion</span>
      </a>

      <a mat-list-item routerLink="/notificacion">
        <mat-icon>notifications_active</mat-icon>
        <span *ngIf="opened">Notificación</span>
      </a>

      <a mat-list-item routerLink="/soporte">
        <mat-icon>support</mat-icon>
        <span *ngIf="opened">Soporte</span>
      </a>

      <a mat-list-item routerLink="/calendario">
        <mat-icon>event</mat-icon>
        <span *ngIf="opened">Eventos</span>
      </a>

      <button mat-button class="logout-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span *ngIf="opened">Cerrar Sesión</span>
      </button>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->

