  <mat-toolbar class="navbar">
    <mat-toolbar-row class="navbar-row">
      <div class="navbar-links">

        <div class="nav-item total-usuarios">
          <mat-icon class="nav-icon">group</mat-icon>
          <a class="nav-link">Total Usuarios en la app: {{ totalUsuarios }}</a>
        </div>

        <div class="nav-item tutores">         
          <mat-icon class="nav-icon">supervisor_account</mat-icon>
          <a class="nav-link">Tutores: {{ totalTutores }}</a>
        </div>

        <div class="nav-item estudiantes">
          <mat-icon class="nav-icon">school</mat-icon>
          <a class="nav-link">Estudiantes: {{ totalEstudiantes }}</a>
        </div>

      </div>
      
    </mat-toolbar-row>
  </mat-toolbar>

<div class="container">
  <!-- Filtros de tiempo y gráficos -->
  <div  class="charts">

    <div class="chart-section">
      <div class="chart-container">
        <div class="chart-container-graph">
          <h2>Crecimiento de nuevos Usuarios</h2>
          <label for="filtroTiempoCrecimiento">Filtrar por:</label>
          <select
            id="filtroTiempoCrecimiento"
            [(ngModel)]="filtroTiempoCrecimiento"
            (change)="loadCrecimientoUsuariosData()">
            <option value="día">Día</option>
            <option value="mes">Mes</option>
          </select>

          <!-- Indicador de carga para Crecimiento de Usuarios -->
          <div *ngIf="cargandoCrecimientoUsuarios" class="no-data">
            <div class="spinner"></div>
            <p>Cargando datos gráfico...</p>
          </div>
          <canvas id="crecimientoUsuariosChart" class="fixed-size-chart"></canvas>
        </div>

        <div class="chart-container-graph">
          <!-- Indicador de carga para Inicios de Sesión -->
          <div *ngIf="cargandoLogins" class="no-data">
            <div class="spinner"></div>
            <p>Cargando datos gráfico...</p>
          </div>
          <h2>Historial de Inicios de Sesión por Fecha</h2>
          <label for="filtroTiempoLogins">Filtrar por:</label>
          <select
            id="filtroTiempoLogins"
            [(ngModel)]="filtroTiempoLogins"
            (change)="loadLoginsData()">
            <option value="día">Día</option>
            <option value="mes">Mes</option>
          </select>
          <canvas id="loginsChart" class="fixed-size-chart"></canvas>
        </div>
      </div>

      <!-- Tabla de Ayudantías Finalizadas -->
      <div class="mostrarContenido">
        <div *ngIf="ayudantiasFinalizadas.length > 0" class="table-container">
          <h2>
            Detalles de Participación de Estudiantes en Ayudantías Finalizadas
          </h2>
          <table>
            <thead>
              <tr>
                <th>Nombre del Estudiante</th>
                <th>Apellido del Estudiante</th>
                <th>Título de la Ayudantía</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Subcategoría</th>
                <th>Fecha de Ayudantía</th>
                <th>Participantes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ayudantia of ayudantiasFinalizadas">
                <td>{{ ayudantia.nombre_estudiante }}</td>
                <td>{{ ayudantia.apellido_estudiante }}</td>
                <td>{{ ayudantia.titulo_ayudantia }}</td>
                <td>{{ ayudantia.descripcion_ayudantia }}</td>
                <td>{{ ayudantia.categoria }}</td>
                <td>{{ ayudantia.subcategoria }}</td>
                <td>{{ ayudantia.fecha_ayudantia }}</td>
                <td>{{ ayudantia.participantes }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div *ngIf="!ayudantiasFinalizadas.length" class="no-data">
      <div class="spinner"></div>
      <p *ngIf="ayudantiasFinalizadas.length === 0">Cargando datos...</p>
    </div>

  </div>
</div>
