/* Contenedor Principal */
.container {
  padding: 32px;
  display: grid;
  grid-template-columns: auto;
  gap: 24px;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: #522df5;
  color: white;
  padding: 10px;
  height: 100px;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 100%;
  /* Asegura que ocupe toda la altura del navbar */
}

.nav-item mat-icon {
  margin-right: 2px;
  color: aliceblue;
}

.nav-icon {
  font-size: 1.4rem;
  /* Aumenta el tamaño del ícono */
  margin-right: 5px;
}


.nav-link:hover {
  color: #ffcc00;
  /* Cambia el color al pasar el cursor */
}


.navbar-links {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  margin-left: 2%;
}

.nav-item.tutores {
  background-color: #8338EC;
  width: 15rem;
  padding: 5px;
  border-radius: 7px;
}

.nav-item.estudiantes {
  background-color: #FF006E;
  width: 15rem;
  padding: 5px;
  border-radius: 7px;
}

.nav-item.total-usuarios {
  background-color: #0099ff;
  width: 16rem;
  padding: 5px;
  border-radius: 7px;
}

.chart-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chart-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  position: relative;
  min-height: 250px;
  height: 600px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.chart-container-graph {
  flex: 1;
  min-height: 250px;
  background: #e6e6e7;
  position: relative;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 100% !important; 
  height: 85% !important; 
}

.chart-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* Asegura que se superponga al contenido */
}

.chart-container h3 {
  margin-bottom: 10px;
  /* Separación entre el título y el gráfico */
  color: #333;
  /* Color del texto */
}

.chart-container canvas {
  max-width: 90%; /* Reduce el ancho máximo del canvas */
  max-height: 80%; /* Opcional: ajusta también la altura máxima */
  margin: 0 auto; /* Centra el canvas */
}

h2 {
  text-align: center;
}

label {
  font-size: 1px;
}

/* Estilo general para el select */
select {
  margin-left: 10px;
  padding: 6px 12px;
  font-size: 16px;
  border: 2px solid #3f51b5;
  /* Color de borde */
  border-radius: 8px;
  /* Bordes redondeados */
  background-color: #f3f4f6;
  /* Fondo claro */
  color: #333;
  /* Color del texto */
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  /* Efecto de transición */
}

/* Cambia el color de fondo y el borde cuando el select está en foco */
select:focus {
  background-color: #e0e7ff;
  /* Fondo en foco */
  border-color: #1e3a8a;
  /* Borde en foco */
}

/* Estilos para las opciones del select */
option {
  font-size: 16px;
  padding: 8px;
  color: #333;
}



.fixed-size-chart {
  width: 90% !important;
  /* Asegura que el canvas ocupe el 100% del contenedor */
  height: 85% !important;
  /* Asegura que el canvas ocupe el 100% del contenedor */
}

.table-container {
  margin-top: 20px;
  font-family: Arial, sans-serif;
  margin: 1rem;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #b5d7f3;
}

.filter {
  margin-bottom: 20px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}


.no-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background: #e6e6e7;
  /* Fondo gris claro */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.no-data p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
