.card {
  position: relative;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.card-number {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff5722;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
}


.card:hover {
  transform: scale(1.02);
}


.card h3 {
  margin-top: 20px;
  font-size: 1.2rem;
}

.card p,
.card ul {
  margin: 5px 0;
  font-size: 0.9rem;
}

.card ul {
  padding-left: 20px;
  list-style-type: disc;
}

.card h4 {
  margin-top: 15px;
  font-size: 1rem;
}
