<mat-sidenav-container class="dashboard-container">

    <!-- Contenido Principal -->
    <mat-sidenav-content>
      <div class="content">
        <h1>Resumen General</h1>
  
        <!-- Cards de Resumen -->
        <div class="cards">
          <mat-card>
            <mat-card-title>Usuarios Activos</mat-card-title>
            <mat-card-content>
              <div *ngIf="!(usuariosActivos$ | async); else usuariosContent">
                <mat-spinner></mat-spinner>
              </div>
              <ng-template #usuariosContent>
                <h2>{{ usuariosActivos$ | async }}</h2>
              </ng-template>
            </mat-card-content>
          </mat-card>
  
          <mat-card>
            <mat-card-title>Ayudantías Realizadas este Mes</mat-card-title>
            <mat-card-content>
              <div *ngIf="!(ayudantiasEsteMes$ | async); else ayudantiasContent">
                <mat-spinner></mat-spinner>
              </div>
              <ng-template #ayudantiasContent>
                <h2>{{ ayudantiasEsteMes$ | async }}</h2>
              </ng-template>
            </mat-card-content>
          </mat-card>
  
          <mat-card>
            <mat-card-title>Problemas Resueltos</mat-card-title>
            <mat-card-content>
              <div *ngIf="!(problemasResueltos$ | async); else problemasContent">
                <mat-spinner></mat-spinner>
              </div>
              <ng-template #problemasContent>
                <h2>{{ problemasResueltos$ | async }}</h2> 
              </ng-template>
            </mat-card-content>
          </mat-card>
          
          
  
        </div>
  
        <!-- Gráfico Interactivo -->
        <div class="charts">
          <canvas id="ayudantiasChart"></canvas>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
