.modal-container {
  max-width: 500px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content {
  margin: 16px 0;
  font-size: 1rem;
  color: #333;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.mat-dialog-container {
  border-radius: 8px;
  width: 100%;
}

/* From Uiverse.io by CristianMontoya98 */ 
.btn {
  width: 5.5em;
  height: 1.9em;
  margin: 0.5em;
  background: rgb(54, 42, 218);
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
 }
 
 button:hover {
  color: black;
 }
 
 button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 }
 
 button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }