.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fixed-size-chart {
  width: 90% !important; /* Asegura que el canvas ocupe el 100% del contenedor */
  height: 85% !important; /* Asegura que el canvas ocupe el 100% del contenedor */
}

/* Indicadores del dashboard */
.dashboard-indicators {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.indicator {
  flex: 1;
  min-width: 400px; /* Ancho mínimo para los gráficos */
  max-width: 700px; /* Ancho máximo para los gráficos */
  height: 800px; /* Altura fija para los gráficos */
  position: relative;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f5f5f5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

h3{
  text-align: center;
  font-size: 1.4rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #3f51b5; /* Azul Material Design */
  color: #fff;
  /* padding: 16px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 6rem;
  margin: 0;
  width: 100%; /* Asegura que ocupe todo el ancho */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Reinicia el margen y el padding del body y del html */
html, body {
  margin: 0; /* Elimina márgenes del body y html */
  padding: 0; /* Elimina paddings del body y html */
  box-sizing: border-box; /* Asegura un buen cálculo del tamaño */
  width: 100%; /* Ajusta al ancho completo */
}

.dashboard-header {
  flex: 1;
  text-align: left;
  margin: 0; /* Elimina cualquier margen interno del encabezado */
  padding: 16px; /* Opcional: define un padding interno uniforme */
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  margin-right: 16px;
}

.logo-img {
  height: 50px;
  width: auto;
}

.dashboard-header h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.dashboard-header p {
  font-size: 1rem;
  margin: 4px 0 0;
  color: #cfd8dc; /* Gris claro para contraste */
}


.no-data-container {
  text-align: center;
  padding: 20px;
}

.no-data-container p {
  font-size: 18px;
  color: #575151;
  margin-bottom: 30px;
  margin-top: 50px;
}

.no-data-image {
  width: 50%;
  max-width: 300px;
  margin-top: 20px;
}

/* Estilo para el mensaje cuando no hay publicaciones */
.no-publications-message {
  text-align: center;
  margin-top: 20px;
}

.no-publications-message mat-card {
  display: inline-block;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

.no-publications-message mat-card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.no-publications-message mat-card-content p {
  font-size: 16px;
  color: #555;
}
