<div class="dashboard-container">

  <!-- Barra de navegación (navbar) -->
  <mat-toolbar class="navbar">
    <header class="dashboard-header">
      <h1>Cantidad de Publicaciones por Mes y por Categoría en el Año Seleccionado</h1>
    </header>
  </mat-toolbar>

  <!-- Indicadores del dashboard -->
  <div class="dashboard-indicators">
    <!-- Publicaciones por Categoría -->
    <div class="indicator">
      <h3>Publicaciones por Categoría</h3>
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar Mes</mat-label>
        <mat-select [(value)]="selectedGrowthMonth" (selectionChange)="onGrowthMonthChange($event.value)">
          <mat-option *ngFor="let month of growthMonths" [value]="month.value">{{ month.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Contenedor de selección de año -->
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar Año</mat-label>
        <mat-select [(value)]="selectedYearCategory" (selectionChange)="onYearChangeCategory($event.value)">
          <mat-option *ngFor="let year of growthYears" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>
            <!-- Imagen de "No Data" cuando no hay publicaciones -->
      <div *ngIf="showNoDataImage" class="no-data-container">
        <img src="assets/images/no-data.png" alt="No data found" class="no-data-image"/>
        <p>{{ noDataMessage }}</p>
      </div>

      <!-- Gráfico de tasa de crecimiento -->
      <canvas #growthRateChart *ngIf="showChart" id="growthRateChart" class="fixed-size-chart"></canvas>

      <!-- El gráfico permite al administrador visualizar de forma clara y rápida 
      la distribución y cantidad de publicaciones por categorías o meses, 
      ayudándolo a identificar áreas de mayor o menor actividad, 
      y a tomar decisiones informadas para mejorar 
      la asignación de recursos o estrategias en cada categoría o periodo. -->
    </div>

    <!-- Publicaciones por Mes -->
    <div class="indicator">
      <h3>Cantidad de Publicaciones por Mes en el Año Seleccionado</h3>
      <mat-form-field appearance="fill" class="filter">
        <mat-label>Mes</mat-label>
        <mat-select [(value)]="selectedMonth" (selectionChange)="onMonthChange($event)">
          <mat-option *ngFor="let month of months" [value]="month.value">{{ month.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="filter">
        <mat-label>Año</mat-label>
        <mat-select [(value)]="selectedYear" (selectionChange)="onYearChange($event)">
          <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>
            <!-- Mensaje de "No hay publicaciones" -->
      <div *ngIf="noPublications" class="no-publications-message">
        <mat-card>
          <mat-card-header>
            <mat-card-title>No hay publicaciones para este mes</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>No se han encontrado publicaciones para el mes de {{ getMonthName(selectedMonth) }} de {{ selectedYear }}.</p>
          </mat-card-content>
        </mat-card>
      </div>
      <canvas *ngIf="!noPublications" id="barChart" class="fixed-size-chart"></canvas>
      <!-- Propósito del gráfico:
      El gráfico permite al administrador visualizar de manera rápida y clara la actividad mensual de
       publicaciones en un año específico. Proporciona una perspectiva general de los meses más activos 
      y menos activos, ayudándole a identificar patrones de uso y períodos de mayor o menor demanda. -->
    </div>
  </div>

  <!-- Tabla de Publicaciones -->
  <!-- <app-publicaciones-table></app-publicaciones-table> -->
</div>
