/* table {
  width: 50%;
  margin: 20px 0;
} */

th, td {
  padding: 8px;
  text-align: left;
}

/* grafico-promedio-publicaciones.component.css */
.grafico-y-tabla {
  display: flex;
  justify-content: space-between;
}

.grafico {
  width: 40%;
  background-color: honeydew;
}

canvas {
  height: 300px;
  width: 100%;
}

.tabla {
  width: 55%;
}

