<div class="dashboard-container">

  <!-- Cabecera con título y logo -->
  <div class="header">
    <h1 class="title">Panel Analítico de Publicaciones y Usuarios por Formato y Estado</h1>
    <img src=".../../assets/images/logo.png" alt="Logo" class="logo" /> 
  </div>
  
  <!-- Contenedor superior para el gráfico de tendencia con filtro de formato -->
  <div class="top-container">

    <div class="stats-summary">
      <div class="stat-card" style="background-color: #81bbf8c5;">
        <p>Total de publicaciones</p>
        <h3>{{ totalPublications }}</h3>
      </div>
      <div class="stat-card" style="background-color: #81f0f8c5;">
        <p>Publicaciones presenciales</p>
        <h3>{{ presencialCount }}</h3>
      </div>
      <div class="stat-card" style="background-color: #a581f8c5;">
        <p>Publicaciones virtuales</p>
        <h3>{{ virtualCount }}</h3>
      </div>
      <div class="stat-card" style="background-color: #f881dec5;">
        <p>Estado más común</p>
        <h3>{{ commonState }}</h3>
      </div>
    </div>

    <!-- Gráfico de tendencia -->
    <div class="chart-item trendChart">
       <!-- Título descriptivo para el gráfico -->
      <h2 class="chart-title">Tendencia de Publicaciones por Formato (Presencial vs Remoto)</h2>
      <div class="filter-container">
        <mat-form-field appearance="fill" class="filter">
          <mat-label>Formato</mat-label>
          <mat-select [(value)]="selectedFormat" (selectionChange)="onFormatChange($event)">
            <mat-option value="PRESENCIAL">Presencial</mat-option>
            <mat-option value="REMOTO">Remoto</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <canvas id="trendChart"  class="fixed-size-chart"></canvas>

    </div>
  </div>

  <!-- Contenedor inferior para gráficos de estados y publicaciones -->
  <div class="charts-container">

    <!-- Gráfico de estados -->
    <div class="chart-item">
      <div class="filter-container">
        <mat-form-field appearance="fill" class="filter">
          <mat-label>Estado</mat-label>
          <mat-select [(value)]="selectedState" (selectionChange)="onStateChange($event)">
            <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="filter">
          <mat-label>Rango de Tiempo</mat-label>
          <mat-select [(value)]="selectedTimeRange" (selectionChange)="onTimeRangeChange($event)">
            <mat-option value="year">Año</mat-option>
            <mat-option value="month">Mes</mat-option>
            <mat-option value="week">Semana</mat-option>
            <mat-option value="day">Día</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <canvas id="stateChart" class="fixed-size-chart"></canvas>
      
      <div class="modal" *ngIf="showStateModal">
        <div class="modal-content">
          <p>{{ stateModalMessage }}</p>
          <button (click)="closeStateModal()">Aceptar</button>
        </div>
      </div>
    </div>

    <!-- Gráfico de publicaciones -->
    <div class="chart-item">
      <div class="filter-container">
        <mat-form-field appearance="fill" class="filter">
          <mat-label>Categoría</mat-label>
          <mat-select [(value)]="selectedCategory" (selectionChange)="onCategoryChange($event)">
            <mat-option *ngFor="let category of categories" [value]="category.nombre">{{ category.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="filter">
          <mat-label>Subcategoría</mat-label>
          <mat-select [(value)]="selectedSubcategory" (selectionChange)="onSubcategoryChange($event)">
            <mat-option *ngFor="let subcategory of getSubcategories()" [value]="subcategory">{{ subcategory }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <canvas id="publicationChart"  class="fixed-size-chart"></canvas>

      <div class="modal" *ngIf="showPublicationModal">
        <div class="modal-content">
          <p>{{ publicationModalMessage }}</p>
          <button (click)="closePublicationModal()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
