<h2 mat-dialog-title class="dialog-title">Editar Usuario</h2>
<div mat-dialog-content class="dialog-content">
  <form [formGroup]="usuarioForm">
    <div class="form-grid">
      <mat-form-field appearance="outline" class="form-item">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="Nombre" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-item">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="Apellido" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-item">
        <mat-label>Rut</mat-label>
        <input matInput formControlName="Rut" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-item">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="Telefono" />
      </mat-form-field>


    </div>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button color="accent" (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="guardar()">Guardar</button>
</div>
